# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
ios/Flutter/FlutterPluginRegistrant/

# Platform-specific
/web/
/windows/
/linux/
/macos/
android/app/debug/
android/app/profile/
android/app/release/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history
.atom/
.svn/

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
buildlog/
migrate_working_dir/

# Obfuscation & Symbolication
app.*.symbols
app.*.map.json
